---
// src/components/common/LanguageSwitcher.astro
import { Image } from "astro:assets";
import khflag from "@/assets/language/km-square.svg";
import enflag from "@/assets/language/en-square.svg";
import { getRouteFromUrl } from "../../i18n/utils";

export interface Props {
  lang: string;
}

const { lang } = Astro.props;

const targetLang = lang === "en" ? "km" : "en";
const targetLangLabel = lang === "en" ? "ភាសាខ្មែរ" : "English";
const targetFlag = lang === "en" ? khflag : enflag;

const currentRoute = getRouteFromUrl(Astro.url);

const languageSwitcherHref = `/${targetLang}${currentRoute === "/" ? "" : currentRoute}`;
---

<a
  title={`Switch to ${targetLangLabel}`}
  href={languageSwitcherHref}
  class="rounded-full border border-primary"
>
  <Image
    src={targetFlag}
    alt={`${targetLangLabel} flag`}
    class="w-full h-full"
    width={38}
    height={38}
    loading="lazy"
  />
</a>
