---
// src/pages/TrustedBy.astro
import { Image } from "astro:assets";
import dgc from "@/assets/logo/dgc.svg";
import mptc from "@/assets/logo/logo-mptc.png";
import trc from "@/assets/logo/logo-trc.png";
import cadt from "@/assets/logo/logo-cadt.png";
import cp from "@/assets/logo/logo-cp.png";
import tc from "@/assets/logo/logo-tc.png";
import { useTranslations } from "@/i18n/utils";
import { languages } from "@/i18n/ui";
const lang = Astro.params.lang as keyof typeof languages;
const t = useTranslations(lang);
---

<section class="py-16 bg-box">
  <div class="container mx-auto px-4 sm:px-6 lg:px-8 text-center">
    <h3 class="text-[32px] font-bold uppercase text-primary mb-8">
      Trusted By
    </h3>
    <div class="flex flex-wrap justify-center items-center gap-x-9 gap-y-8">
      <Image src={mptc} alt="MPTC Logo" width={158} height={151} />
      <Image src={dgc} alt="DGC Logo" width={158} height={151} />
      <Image src={trc} alt="trc Logo" width={113} height={105} />
      <Image src={cadt} alt="MPTC Logo" width={224.25} height={133} />
      <Image src={cp} alt="CP Logo" width={110} height={106} />
      <Image src={tc} alt="TC Logo" width={124} height={119} />
    </div>
  </div>
</section>
