---
// src/layouts/Layout.astro
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";
import { getLangFromUrl, useTranslations } from "../i18n/utils";
import { languages } from "@/i18n/ui";
import { SITE_DESCRIPTION, SITE_TITLE } from "@/consts";
import BaseHead from "@/components/BaseHead.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
const ImageURL = new URL("/assets/logo/ctm-icon.png", Astro.url).href;
const lang = getLangFromUrl(Astro.url) as TypeLang;
const t = useTranslations(lang);

import "../styles/global.css";
import type { TypeLang } from "@/lib/types";
---

<html lang={lang}>
  <head>
    <BaseHead
      title={title || SITE_TITLE}
      description={description || SITE_DESCRIPTION}
      ogImage={ImageURL}
    />
  </head>
  <body>
    <Header lang={lang} t={t} />
    <main>
      <slot />
    </main>
    <Footer lang={lang} t={t} />
  </body>
</html>
